<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Delayed Job Admin</title>
    <%= stylesheet_link_tag 'delayed_job_admin' %>
    <%= yield :javascript %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
